<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Metrics Forwarder for PCF Documentation
  </a>

<div class="nav-content">
    <ul>

      <li class="has_submenu expanded"><li>
        <a href="/metrics-forwarder/index.html">Metrics Forwarder for PCF</a>
        <ul>
          <li>
            <a href="/metrics-forwarder/release-notes.html">Release Notes</a>
          </li>
          <li>
            <a href="/metrics-forwarder/architecture.html">Architecture</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>Operator Guide</a>
        <ul>
          <li>
            <a href="/metrics-forwarder/installing.html">Installing and Configuring Metrics Forwarder for PCF</a>
          </li>
          <li>
            <a href="/metrics-forwarder/monitoring.html">Monitoring and Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>Application Developer Guide</a>
        <ul>
          <li>
            <a href="/metrics-forwarder/using.html">Using Metrics Forwarder for PCF</a>
          </li>
          <li>
            <a href="/metrics-forwarder/frameworks-libraries.html">Frameworks and Libraries</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
