---
title: Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

This documentation describes Metrics Forwarder for PCF.

## <a id='overview'></a>Overview

Metrics Forwarder for PCF is a service that allows apps to emit custom metrics to [Loggregator](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html) and consume those metrics from the Loggregator [Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose). 

You can interact with the service through the Cloud Foundry Command Line Interface (cf CLI), [Apps Manager](https://docs.pivotal.io/pivotalcf/2-0/console/manage-apps.html), and an [HTTP API](http://docs.pivotal.io/metrics-forwarder/api/).

Metrics Forwarder for PCF enables users to do the following:

* Configure apps to emit custom metrics to Loggregator.
* Read custom metrics from the Loggregator Firehose using a Firehose consumer of their choice, including [community](https://github.com/cloudfoundry/loggregator-release/blob/develop/docs/community-nozzles.md) and third-party nozzles.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Metrics Forwarder for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.11.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 21, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

You must install the following products to start using Metrics Forwarder for PCF:

* PCF Elastic Runtime v1.11 or v1.12
* PCF Ops Manager v1.11 or v1.12

These products are available on [Pivotal Network](https://network.pivotal.io/).

## <a id="limitations"></a>Limitations

The total number of metrics that Metrics Forwarder for PCF can accept depends on the capacity of your Loggregator components.
