---
title: Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

This documentation describes Metrics Forwarder for PCF.

<p class='note warning'><b>Warning: </b>Metrics Forwarder is not supported for Pivotal Application Service (PAS) v2.5 and later. To emit custom metrics on PAS v2.5 or later, use the Metric Registrar. For more information about enabling and configuring the Metric Registrar, see <a href="https://docs.pivotal.io/application-service/metric-registrar/index.html">Using Metric Registrar</a> in the Tanzu Application Service for VMs product documentation.</p>

## <a id='overview'></a>Overview

Metrics Forwarder for PCF is a service that allows apps to emit custom metrics to [Loggregator](https://docs.pivotal.io/application-service/loggregator/architecture.html) and consume those metrics from the Loggregator [Firehose](https://docs.pivotal.io/application-service/3-0/loggregator/architecture.html#firehose). 

You can interact with the service through the Cloud Foundry Command Line Interface (cf CLI), [Apps Manager](https://docs.pivotal.io/application-service/console/index.html), and an [HTTP API](https://docs.pivotal.io/metrics-forwarder/api/).

Metrics Forwarder for PCF enables users to do the following:

* Configure apps to emit custom metrics to Loggregator.
* Read custom metrics from the Loggregator Firehose using a Firehose consumer of their choice, including [community](https://github.com/cloudfoundry/loggregator-release/blob/main/docs/community-nozzles.md) and third-party nozzles.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Metrics Forwarder for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.11.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 24, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.4.x, 2.3.x, 2.2.2 or later, and 2.1.15 or later</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)<sup>*</sup> version(s)</td>
        <td>2.4.x, 2.3.x, 2.2.x, and 2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

You must install the following products to start using Metrics Forwarder for PCF:

* Pivotal Application Service (PAS) v2.1 or later
* PCF Ops Manager v2.1 or later

These products are available on [Pivotal Network](https://network.pivotal.io/).

## <a id="limitations"></a>Limitations

The total number of metrics that Metrics Forwarder for PCF can accept depends on the capacity of your Loggregator components.
