---
title: Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

This documentation describes Metrics Forwarder for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

Metrics Forwarder for PCF is a service that allows apps to emit custom metrics to [Loggregator](https://docs.pivotal.io/pivotalcf/1-11/loggregator/architecture.html) and consume those metrics from the Loggregator [Firehose](https://docs.pivotal.io/pivotalcf/1-11/loggregator/architecture.html#firehose).

Metrics Forwarder for PCF enables users to do the following:

* Configure apps to emit custom metrics to Loggregator. Metrics Forwarder provides an HTTP API that accepts these user-defined metrics.
* Read custom metrics from the Loggregator Firehose using a Firehose consumer of their choice, including [community](https://github.com/cloudfoundry/loggregator/blob/develop/docs/community-nozzles.md) and third-party nozzles.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Metrics Forwarder for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.11.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 24, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

You must install the following products to start using Metrics Forwarder for PCF:

* PCF Elastic Runtime v1.11
* PCF Ops Manager v1.11

These products are available on [Pivotal Network](https://network.pivotal.io/).

## <a id="limitations"></a>Limitations

The total number of metrics that Metrics Forwarder for PCF can accept depends on the capacity of your Loggregator components.
