---
title: Installing and Configuring Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

This topic describes how to install and configure Metrics Forwarder for Pivotal Cloud Foundry (PCF).

## <a id="update-addons"></a>Update Add-ons to Run with Xenial Stemcell

Metrics Forwarder for PCF v1.11.3 and later requires a Xenial stemcell.
If you are using any of the following BOSH add-ons with your PCF deployment,
you must update the add-on definition to include the Xenial stemcell before you deploy Metrics Forwarder for PCF v1.11.3:

+ File Integrity Monitoring for PCF Add-on.
  For update instructions,
  see [Updating FIM Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-fim/updating-for-xenial.html).
+ ClamAV for PCF Add-on.
  For update instructions,
  see [Updating ClamAV Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/1-4/updating-for-xenial.html).
+ IPsec for PCF Add-on.
  For update instructions,
  see [Updating IPsec Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html).

## <a id='install'></a> Install Metrics Forwarder for PCF

<p class="note"><strong>Note:</strong> Before using Metrics Forwarder for PCF v1.11.3 and later, you must update any BOSH add-ons to support Xenial stemcells. See <a href="#update-addons">Update Add-ons to Run with Xenial Stemcell</a> above.</p>

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-metrics-forwarder).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Metrics Forwarder for PCF.
This adds the tile to your staging area.

1. Click the newly added **Metrics Forwarder for PCF** tile.

1. Make sure your network and stemcell configuration is complete.
   For instructions, see [Importing and Managing Stemcells](https://docs.pivotal.io/pivotalcf/opsguide/managing-stemcells.html).

	<p class="note"><strong>Note:</strong> Metrics Forwarder for PCF v1.11.3 and later requires a Xenial stemcell.
	To download the Xenial stemcell from Pivotal Network, click <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial">Stemcells for PCF (Ubuntu Xenial)</a></p>

1. Create appropriate Service Plans. See [Service Plans](installing.html#configure-plans).

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard.

1. If you are using Ops Manager v2.3 or later,  click **Review Pending Changes**. For more information about this Ops Manager page, see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes** to install the Metrics Forwarder for PCF tile.

## <a id="defaults"></a> Plan and Resource Defaults

This section describes the defaults that the Metrics Forwarder for PCF tile applies to plans and resource configuration.

### <a id="api-instance"></a> API Resources

By default, the Metrics Forwarder for PCF tile uses three instances of the Metrics Forwarder API. You can decrease the number of instances to 1. However, if the single API instance experiences a failure, the service will be susceptible to outage.

### <a id="service-plans"></a> Service Plans

Service plans enable operators to set the number of HTTP requests and metrics that a bound app can send per minute. The default service plan supports unlimited requests and metrics. For more information, see [Rate Limiting](architecture.html#rate-limiting).

Knowing the capacity of your Loggregator components can help you to determine what service plans to configure.

### <a id="loggregator"></a> Loggregator

Metrics Forwarder for PCF relies on Loggregator to transport metrics to the Firehose. Metrics Forwarder manages its own Metron agent for each of the API instances that are specified in the **Resource Config** section of the tile. These Metron Agents emit metrics directly to the Loggregator components: Dopplers and Traffic Controllers.

To accommodate the number of metrics produced by apps and emitted from Metrics Forwarder, you may need to increase Doppler Server and Traffic Controller resources. Refer to the [Loggregator documentation](https://docs.pivotal.io/pivotalcf/loggregator/log-ops-guide.html) for information about configuring these resources.


## <a id='configure'></a> Configure Metrics Forwarder for PCF

This section describes how to configure resources and service plans in the Metrics Forwarder for PCF tile.

### <a id='configure-resources'></a> API Resources

You can scale the API resources in the **Resource Config** section of the Metrics Forwarder for PCF tile.

To change the default number of the Metrics Forwarder API instances, do the following:

1. In Ops Manager, navigate to the **Resource Config** section of the Metrics Forwarder for PCF tile.

1. In the **Metrics Forwarder API for PCF** field, select the number of instances.

### <a id='configure-plans'></a> Service Plans

You can configure your service plans and rate limits in the **Service Plans** section of the Metrics Forwarder for PCF tile.

To add a new service plan and set rate limits, do the following:

1. In Ops Manager, navigate to the **Service Plans** section of the Metrics Forwarder for PCF tile.

1. Click **Add**.

1. Under **Plan name**, enter the name of your service plan.

1. Under **Description**, enter a human-readable description of the service plan.

1. Under **Requests per minute**, enter the number of HTTP requests that a bound app is allowed to send per minute.

1. Under **Metrics per minute**, enter the number of metrics that a bound app is allowed to send per minute across requests.
