---
title: Monitoring Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

This topic describes the logs and metrics that you can use to monitor the health of Metrics Forwarder for Pivotal Cloud Foundry (PCF). For general information about logging and metrics in PCF, see [Logging and Metrics](http://docs.pivotal.io/pivotalcf/loggregator/index.html).

## <a id="metrics"></a>Metrics

Metron Agents associated with Metrics Forwarder for PCF emit logs and metrics. You can analyze this data to identify health issues related to transmitting logs through Loggregator.

In addition, the sum and count of all metrics transmitted by Metrics Forwarder for PCF helps to monitor changes in the use of the service.
