---
title: Release Notes
owner: PCF Autoscaler and Scheduler
---

This topic contains release notes for Metrics Forwarder for Pivotal Cloud Foundry (PCF).

## <a id="111-3"></a>v1.11.3
**Release Date:** September 24, 2018

### Features
<p class="note breaking"><strong>Breaking Change: </strong>Metrics Forwarder for PCF v1.11.3 and later requires a Xenial stemcell.
You must manually download and import a new stemcell into the Ops Manager Stemcell Library before deploying Metrics Forwarder for PCF v1.11.3.
This might break automation you have set up to update Metrics Forwarder for PCF deployments that used Trusty stemcells. 
To download the Xenial stemcell from Pivotal Network,
go to <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial"> Stemcells for PCF (Ubuntu Xenial)</a>.
For instructions on updating BOSH add-ons and importing the stemcell, see <a href="./installing.html">Installing and Configuring Metrics Forwarder for PCF</a>.</p>

Changes in this release:

* Includes support for Xenial Stemcell 97.

### Known Issues

This release has the following issues:

* Service Broker is not HA.
* Rate limiting in an HA configuration (default) is susceptible to inaccuracy due to load balancing across API instances.
* If you make the system domain in the `system` org private, Metrics Forwarder for PCF fails to push apps needed for its smoke tests.

## <a id="111-2"></a>v1.11.2
**Release Date:** December 21, 2017

### Features

Changes in this release:

* Includes support for Stemcell 3445.

### Known Issues

This release has the following issues:

* Service Broker is not HA.
* Rate limiting in an HA configuration (default) is susceptible to inaccuracy due to load balancing across API instances.
* If you make the system domain in the `system` org private, Metrics Forwarder for PCF fails to push apps needed for its smoke tests.


## <a id="111-0"></a>v1.11.0
**Release Date:** September 20, 2017

### Features

New features and changes in this release: 

 * Custom app metrics HTTP API.
 * Metric emission rate limiting.
 * HA Metrics Forwarder API with configurable capacity.

### Known Issues

This release has the following issues:

* Service Broker is not HA.
* Rate limiting in an HA configuration (default) is susceptible to inaccuracy due to load balancing across API instances.
* If you make the system domain in the `system` org private, Metrics Forwarder for PCF fails to push apps needed for its smoke tests.
