---
title: Creating a Sevice Instance
owner: PCF Autoscaler and Scheduler
---

This topic explains how to create a Metrics Forwarder for Pivotal Cloud Foundry (PCF) service instance and bind it to your app. For general information, see [Managing Service Instances with the cf CLI](http://docs.pivotal.io/devguide/services/managing-services.html).

## <a id="prereqs"></a>Prerequisites

* A PCF deployment with [Metrics Forwarder for PCF](https://network.pivotal.io/products/p-metrics-forwarder) installed and listed in the [Marketplace](http://docs.pivotal.io/devguide/services/#instances)
* A [Space Developer](http://docs.pivotal.io/pivotalcf/concepts/roles.html#roles) account

## <a id='create-service'></a>Create a Service Instance

Every app and service in PCF is scoped to a [space](http://docs.pivotal.io/pivotalcf/concepts/roles.html#spaces). This means that an app can use a service only if an instance of the service exists in the same space.

### <a id='run-marketplace'></a>Confirm Service Availability

For apps to use a service, the service must be available in the Marketplace. To confirm you have installed Metrics Forwarder for PCF:

1. Run `cf marketplace` from the command line.
1. If the output lists `metrics-forwarder` in the `service` column, Metrics Forwarder for PCF is available. If the service is not available, [install](./installing.html) it.

See the following example:

<pre class="terminal">
$ cf marketplace
Getting services from marketplace in org my-org / space my-space as user<span>@</span>example.com...
OK
service             plans      description

metrics-forwarder   unlimited  Custom metrics service
</pre>

### <a id='create'></a>Create a Service Instance

To create an instance of the Metrics Forwarder for PCF service, run `cf create-service metrics-forwarder unlimited SERVICE-INSTANCE-NAME`, replacing `SERVICE-INSTANCE-NAME` with a name of your choice. After you create the service instance, this name appears under `service` in the output of the `cf services` command.

See the following example:

<pre class="terminal">
$ cf create-service metrics-forwarder unlimited my-instance<br>
Creating service my-instance in org my-org / space my-space as user<span>@</span>example.com...
OK<br>
$ cf services<br>
Getting services in org my-org / space my-space as user<span>@</span>example.com...
OK
name          service            plan    bound apps    last operation
my-instance   metrics-forwarder  unlimited             create succeeded
</pre>

You can create only one instance in a space. If you attempt to create more than one instance in a space, you receive an error response.

## <a id="bind"></a>Bind a Service Instance to Your App

For an app to use a service, you must bind it to a service instance. Do this after you push or re-push the app using `cf push`. You can bind the Metrics Forwarder for PCF service instance to more than one app. The number of apps bound to a single service instance does not affect the service instance.

To bind an app to a Metrics Forwarder instance, run `cf bind-service APP-NAME SERVICE-INSTANCE-NAME`, replacing `APP-NAME` with the name of the app you want to use the Metrics Forwarder service for and `SERVICE-INSTANCE-NAME` with the name you provided when you ran `cf create-service`.

See the following example:

<pre class="terminal">
$ cf bind-service my-app my-instance<br>
Binding service my-instance to my-app in org my-org / space my-space as user<span>@</span>example.com...
OK
TIP: Use 'cf push' to ensure your env variable changes take effect
</pre>
