<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Metrics Forwarder for PCF Documentation
  </a>

<div class="nav-content">
    <ul class="menu">

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Metrics Forwarder for Pivotal Cloud Foundry
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/metrics-forwarder/index.html">About Metrics Forwarder</a>
            </li>
            <li>
              <a href="/metrics-forwarder/architecture.html">Architecture</a>
            </li>
            <li>
              <a href="/metrics-forwarder/release-notes.html">Release Notes</a>
            </li>
          </ul>
        </div> 
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Operator Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/metrics-forwarder/installing.html">Installing and Configuring Metrics Forwarder</a>
            </li>
            <li>
              <a href="/metrics-forwarder/monitoring.html">Monitoring and Troubleshooting Metrics Forwarder</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          App Developer Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/metrics-forwarder/using.html">Using Metrics Forwarder</a>
            </li>
            <li>
              <a href="/metrics-forwarder/frameworks-libraries.html">Frameworks and Libraries</a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
