---
title: Service Architecture
owner: PCF Autoscaler and Scheduler
---

This topic describes the architecture of Metrics Forwarder for Pivotal Cloud Foundry (PCF).

## <a id="topology"></a>High Availability Topology

In a highly available resource configuration, Metrics Forwarder for PCF uses the following:

* Three API servers, each running the Metrics Forwarder HTTP API server and a Metron Agent.

* A Metric Forwarder Service Broker

If you want to reduce the number of VMs used in the deployment, you can scale down Metrics Forwarder API resources to 1.

## <a id="metrics"></a>Metric Types

Metrics Forwarder for PCF supports two types of metrics:

* **Gauge**. A gauge metric is a float value. 

* **Counter**. A counter metric is a 64-bit integer used to represent incrementing and decrementing counts. The Metrics Forwarder service does not increment or decrement the value of a counter metric.

## <a id="rate-limiting"></a>Rate Limiting

Metrics Forwarder for PCF enables operators to configure rate limits. You can set the number of HTTP requests and metrics that a bound app is allowed to send to Metrics Forwarder per minute. This increases the level of the service reliability and prevents apps from overwhelming Loggregator with high volumes of metrics data.

Metrics Forwarder for PCF applies rate limits to each request received by the Metrics Forwarder API. The following HTTP headers are present in every response from the Metrics Forwarder API.

<pre class="terminal">
x-ratelimit-limit 
x-ratelimit-metrics-limit
x-ratelimit-metrics-remaining
x-ratelimit-period 
x-ratelimit-remaining
x-ratelimit-retry-after
</pre>
