---
title: Metrics Forwarder Frameworks and Libraries
owner: PCF Autoscaler and Scheduler
---

This topic provides a reference for the frameworks and libraries related to Metrics Forwarder for PCF. These frameworks and libraries include the Java buildpack, Spring Boot Actuators, and other reference implementations of metrics emitter libraries.

# <a id='frameworks'></a>Frameworks

The Metrics Forwarder API can be accessed directly and metrics can be emitted by submitting an HTTP POST request to the API.  

Frameworks or libraries help to control the frequency of metric emission, error handling, aggregation and general API use.

Below are a few examples of frameworks that assist in emitting metrics to Metrics Forwarder for PCF.

## <a id='spring-boot-actuators'></a>Spring Boot Actuator

  1. Configure app to use Spring Boot Actuators.
  1. Create the Metrics Forwarder for PCF service.
  1. Bind your app to the Metrics Forwarder for PCF service.
  1. Push or restage your app using the Java buildpack v4.2 or later.

## <a id='go-metrics'></a>Go Metrics PCF 

A Go reference implementation of exporting metrics to Metrics Forwarder is available on [GitHub](https://github.com/pivotal-cf/go-metrics-pcf).  

