---
title: Scheduler for PCF (Beta)
owner: PCF Autoscaler and Scheduler
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong> 
The Scheduler for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the Scheduler for PCF Service Broker. 

## <a id='overview'></a>Overview

Scheduler for PCF allows app developers to schedule the execution of tasks on PCF without using external scheduling services. You may want to schedule tasks such as database migrations, emails and reports, and batch jobs. This service also enables developers to more easily bring their scheduled jobs into a CI/CD pipeline.

Scheduler for PCF is a service broker, which is exposed as a service in the Marketplace. App developers use Scheduler for PCF to create and schedule jobs, interacting with the service through the Apps Manager UI or the Cloud Foundry Command Line Interface (cf CLI) tool.

Scheduler for PCF enables developers do the following:

* Create jobs to execute tasks (Diego tasks)
* Execute jobs on an ad hoc basis
* Schedule jobs to execute on a recurring basis
* View job status and history

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Scheduler for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 19, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Scheduler for PCF has the following requirements:

+ MySQL for PCF v1.8 or v1.9, available on [Pivotal Network](https://network.pivotal.io/products/p-mysql/)

## <a id="limitations"></a>Limitations

* If your app uses a buildpack that does not generate a `web` process type, such as Ruby or Python, you should do the following:
<br><br>
    1. Before pushing your app, create a [Procfile](https://docs.pivotal.io/pivotalcf/1-10/buildpacks/prod-server.html#procfile) in the root directory of it.
    2. Specify the `web` process type in the file.

    If you do not do this, your app will not be accessible through the cf CLI after you create Scheduler jobs for it.

* The maximum amount of tasks you can schedule is determined by the quota in the org and space in which you are using the Scheduler for PCF service. See <a href="https://docs.run.pivotal.io/devguide/using-tasks.html#manage-tasks">Running Tasks</a> for more information.
