---
title: Metrics Forwarder for PCF
owner: PCF Autoscaler and Scheduler
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

This documentation describes the Metrics Forwarder for PCF Tile and  Service Broker. 

## <a id='overview'></a>Overview

Metrics Forwarder for PCF is a service that allows applications to emit metrics into Loggregator by transmitting the metrics to an HTTP endpoint.

Metrics Forwarder for PCF enables developers do the following:

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Metrics Forwarder for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.11.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 31, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

## <a id="limitations"></a>Limitations

