---
title: Release Notes
owner: PCF Autoscaler and Scheduler
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong> 
The Scheduler for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This topic contains release notes for the Scheduler for Pivotal Cloud Foundry (PCF) tile.

## v1.0.2

**Release Date:** April 19, 2017

### Features included in this release:

* Create jobs.
* Run jobs.
* Schedule jobs.
* List job history.

### Known issues in this release:

* Operators must have a `p-mysql` service plan named `1gb` with at least 1000 MB of disk space.
* Only a `standard` service plan exists that allows scheduling of as many tasks as needed and at any interval.
